<div class="bg">
	<div class="resultField">
		<div class="remerciements">
			<p>
				Merci de nous avoir envoye un mot!
				Des que nous l'aurons verifie, il sera rentre dans la base de donnees.

			</p>
		</div>
		<div class="navButtons">
			<%= link_to "CONTINUER", root_path, {class: "continueButton"}%>
			<%= link_to "REVENIR", restart_path, {class: "restartButton"}%>
		</div>
	</div>
</div>