<div class="bg">
	<div class="resultField">
		<div class="remerciements">
			<p>
				Merci de nous avoir envoyé un mot supplémentaire!
				Dès que nous l'aurons verifié, il sera ajouté à la base de données.
			</p>
		</div>
		<div class="navButtons">
			<%= link_to "CONTINUER", root_path, {class: "continueButton"}%>
		</div>
	</div>
</div>