<div class="bg">
	<div class="field">
		<% if @approved %>
			<p>Your word is legal in a French game of Scrabble!</p>
			<p><%= @yourletters.length %> points!</p>
		<% else %>
			<p>Not a valid word! 0 points.</p>
		<% end %>
		<%= link_to "return", root_path %>
	</div>
</div>