.restartButton {
	width: 140px;
	height: 40px;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(248,94,79,1);
	border-radius: 20px;
	color: rgba(248,94,79,1);
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 2px;
	transition: .3s ease;
	&:hover {
		color: white;
		background-color: rgba(248,94,79,1);

	}
}

.continueButton {
	width: 140px;
	height: 40px;
	margin: 10px auto 5px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgba(69,156,171,1);
	border-radius: 20px;
	color: rgba(69,156,171,1);
	text-decoration: none;
	letter-spacing: 2px;
	transition: .3s ease;

	&:hover {
		background-color: rgba(69,156,171,1);
		color: white;
	}
}

.submitButton {

	margin-top: 30px;
	width: 170px;
	height: 50px;
	color: rgb(43, 96, 181);
	border: 2px solid rgb(43, 96, 181);
	border-radius: 25px;
	font-size: 20px;
	letter-spacing: 2px;
	transition: .3s ease;
	&:hover {
		cursor: pointer;
		background-color: rgb(43, 96, 181);
		color: white;	
	}

}

.switchButton {
	text-decoration: none;
	transition: .3s ease;
	color: black;
	font-size: 15px;
	&:hover {
		border-bottom: 2px solid rgb(43, 96, 181);
	}
}

.addWordButton {
	height: 40px;
	width: 160px;
	color: green;
	background-color: none;
	border: 2px solid green;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	&:hover {
		background-color: green;
		color: white;
	}

}