.restartButton {
	width: 190px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(248,94,79,1);
	text-decoration: none;
	font-weight: bolder;
	font-size: 16px;
	letter-spacing: 2px;
	&:hover {
		color: darkred;
	}
}

.continueButton {
	width: 120px;
	height: 40px;
	margin: 10px auto 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(69,156,171,1);
	text-decoration: none;
	font-weight: bolder;
	letter-spacing: 2px;
	&:hover {
		color: darkblue;
	}
}