.results {
	width: 95%;
	margin: 0 auto 3px auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	p {
		.divider {
			font-weight: lighter;
		}
	}
}

.wordFound {
	display: flex;
	justify-content: center;
	margin: 2px 4px;
	.wordChar {
		height: 21px;
		width: 21px;
		border: 1px solid black;
		border-radius: 2px;
		box-shadow: 1px 1px 1px black;
		background-color: rgb(230,215,188);
		margin: 0px 2px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
